<div class="jumbotron vertical-center">
      
    <div class="container text-center">
        <div style="margin-top: -20%;">
            <h1 class="display-1">covid tracker</h1>
            <p class="lead">A simple Track-and-Trace app developed by Milko Zlatev</p>
        </div>

        <div class="d-flex justify-content-center">
            <ul class="nav">
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">users</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" ui-sref='users'>list </a>
                      <a class="dropdown-item" href="#">register</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">venues</a>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" ui-sref='venues'>list </a>
                    <a class="dropdown-item" href="#">register</a>
                  </div>
              </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">checkins</a>
                    <div class="dropdown-menu">
                      <a class="dropdown-item" ui-sref='checkins'>list </a>
                      <a class="dropdown-item" href="#">register</a>
                    </div>
                </li>
              </ul>
        </div>
    </div>
    
  </div>