
<div class="container mt-5">
    <div class="row pb-4 justify-content-center">
        <div class="card w-50">
            <div class="card-header">
              Edit user
            </div>
            <div class="card-body">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" ng-model="$ctrl.user.name"
                    aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                </div>
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" ng-model="$ctrl.user.surname"
                    aria-label="Small" aria-describedby="inputGroup-sizing-sm" >
                </div>
                <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="infectedCheckbox"  ng-model="$ctrl.user.infected">
                    <label class="form-check-label" for="infectedCheckbox">Infected</label>
                  </div> -->
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" ng-click="$ctrl.saveUser()">Submit</button>
                </div>
            </div>
          </div>
    </div>
</div>