<div class="container mt-5">
    <div class="row pb-4">
        <h3> Users </h3>
        <button class="btn btn-primary ml-auto" ui-sref="userscreate"> Create </button>
    </div>
    <div class="row">
        <div class=" ml-auto">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="inputGroup-sizing-sm">Search</span>
                </div>
                <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" ng-model="$ctrl.searchUsers">
              </div>
        </div>
    </div>
    <div class="row">
        <table class="table ">
            <thead class="thead-light ">
                <th>Name</th>
                <th>Surname</th>
                <th>Check-ins</th>
                <th>Positive</th>
                <th></th>
            </thead>
            <tbody ng-repeat="user in $ctrl.users | filter: $ctrl.searchUsers">
                <td> {{user.name}} </td>
                <td> {{user.surname}} </td>
                <td> {{user.checkins == null ? 0 : user.checkins}} </td>
                <td> {{user.infected ? 'Yes' : 'No'}} </td>
                <td>
                    <a class="icon action"  data-toggle="dropdown"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="16" height="16"><path fill-rule="evenodd" d="M1 2.75A.75.75 0 011.75 2h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 2.75zm0 5A.75.75 0 011.75 7h12.5a.75.75 0 110 1.5H1.75A.75.75 0 011 7.75zM1.75 12a.75.75 0 100 1.5h12.5a.75.75 0 100-1.5H1.75z"></path></svg></i></a>
                    <div class="dropdown-menu dropdown-menu-right" role="menu">
                        <a class="dropdown-item" ui-sref="createcheckin({user: user})" >Checkin</a>
                        <a class="dropdown-item" ng-click="$ctrl.changeStatus(user, $index)" >{{user.infected ? 'Mark Negative' : 'Mark Positive'}}</a>
                        <a class="dropdown-item" ui-sref="checkins({user: user})" >List Checkins</a>
                        <a class="dropdown-item" ui-sref="notifications({userId : user.RowKey})" >List Notifications</a>
                        <a class="dropdown-item" ui-sref="usersedit({id: user.RowKey})" >Edit</a>
                        <a class="dropdown-item text-danger " ng-click="$ctrl.deleteUser(user.RowKey, $index)" >Delete</a>
                    </div>
                </td>
            </tbody>
        </table>
    </div>
</div>