<div class="container mt-5  ">
    <div class="row pb-4 ">
            <h3> Check-Ins </h3>
            <!-- <button class="btn btn-primary ml-auto"> Create </button> -->
    </div>
    <div class="row">
        <table class="table">
            <thead class="thead-light ">
                <th>Venue</th>
                <th>User</th>
                <th>Date</th>
            </thead>
            <tbody ng-repeat="checkin in $ctrl.checkins">
                <td> {{checkin.venuename}} </td>
                <td>{{ checkin.username}} </td>
                <td> {{checkin.date | date:'medium'}} </td>
               
            </tbody>
            
        </table>
    </div>
</div>